gunicorn==20.0.4
aniso8601==7.0.0
appdirs==1.4.4
asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
contextlib2==0.6.0.post1
distlib==0.3.1
Django==3.1.5
dogesay==1.0.0
fastapi==0.63.0
filelock==3.0.12
Flask==1.1.2
Flask-GraphQL==2.0.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
h11==0.12.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Pillow==8.1.0
pipenv==2020.11.15
promise==2.3
pydantic==1.7.3
python-dotenv==0.15.0
pytz==2020.5
PyYAML==5.4.1
requests==2.25.1
Rx==1.6.1
schema==0.7.2
six==1.15.0
SQLAlchemy==1.3.22
sqlparse==0.4.1
starlette==0.13.6
urllib3==1.26.4
uvicorn==0.13.3
virtualenv==20.4.0
virtualenv-clone==0.5.4
watchgod==0.6
websockets==8.1
Werkzeug==1.0.1